<nav class="navbar navbar-expand-lg navbar-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/alumni-site"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Wheaton Volunteer Rescue Squad"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
          <div id="navbar-collapse-1" class="collapse navbar-collapse"><ul id="menu-top" class="navbar-nav ml-auto my-2 my-lg-0">
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page nav-item"><a title="Events" href="{{ '/events' | relative_url }}" class="nav-link">Events</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-13 nav-item"><a title="About Us" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-item-dropdown-13">About Us</a>
<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-13" role="menu">
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11 nav-item"><a title="Forms" href="{{ '/forms/' | relative_url }}" class="dropdown-item">Forms</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59 nav-item"><a title="Minutes" href="{{ '/minutes/' | relative_url }}" class="dropdown-item">Minutes</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274 nav-item"><a title="Photo Gallery" href="{{ '/photo-gallery/' | relative_url }}" class="dropdown-item">Photo Gallery</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104 nav-item"><a title="Groundbreaking" href="{{ '/groundbreaking/' | relative_url }}" class="dropdown-item">Groundbreaking</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73 nav-item"><a title="Dedication" href="{{ '/dedication/' | relative_url }}" class="dropdown-item">Dedication</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53 nav-item"><a title="Donate" href="{{ '/donate/' | relative_url }}" class="nav-link">Donate</a></li>
</ul></div>
      </div>
</nav>